---
BasedOnStyle: MicroSoft
# TabWidth: 2
# IndentWidth: 2
---
Language:                               Cpp
Cpp11BracedListStyle:                   true
Standard:                               Cpp11
CommentPragmas:                         '^ NOLINT'